*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

header, section, footer, aside, article, nav, hgroup{
    display: block;
}

body{
    max-width: 1700px;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100vh;
}

div.topper{
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 999;
}

nav{
    background-color: gray;
    box-shadow: 0px 7px 15px ;
}

nav > ul{
    max-width: 1700px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

nav > ul > li{
    list-style-type: none;
    text-align: center;
    display: flex;
}

nav > ul > li >a{
    padding: 20px 0;
    color: black;
    text-decoration: none;
    flex-grow: 1;
    transition: all 1s;
}

nav li#logo{
    flex-grow: 3;
}

nav li#norm{
    flex-grow: 1;
}

nav li#search{
    flex-grow: 5;
    justify-content: center;
    align-content: center;
}

nav form{
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

nav > ul input#nav-search{
    width: 67%;
    border-radius: 15px 0 0 15px;
    padding: 4.5px 3%;
    border: 2px solid black;
    border-right: none;
    transition: all .5s;
}

nav > ul input#nav-submit{
    width: 20%;
    border-radius: 0 15px 15px 0;
    background-color: yellowgreen;
    padding: 4.5px 0;
    border: 2px solid black;
    border-left: none;
    transition: all .5s;
}

nav > ul > li >a:hover{
    background-color: rgb(88, 87, 87);
    color: white;
}

nav > ul input#nav-search:focus{
    outline: none;
    border: 2px solid grey;
    border-right: none;
    box-shadow: 5px 5px 5px;
}

nav > ul input#nav-search:focus + input#nav-submit{
    border: 2px solid grey;
    border-left: none;
    box-shadow: 5px 5px 5px;
}

nav > ul input#nav-submit:hover{
    background-color: rgb(103, 151, 32);
}

div.small{
    display: none;
}

@media screen and (max-width: 800px){
    nav{
        display: none;
    }

    div.small{
        display: flex;
        position: relative;
        flex-direction: column;
        align-content: center;
        margin: 10px 0;
        transition: all 1s;
    }

    div.small > button.menu{
        display: block;
        text-align: center;
        padding: 10px 0;
        background-color: gray;
        border-color: gray;
        box-shadow: 3px 3px 3px;
        transition: all 1s;
        /* height: 58px; */
    }

    .dropdown-content{
        display: none;
        transition: all 1s;
    }

    .dropdown-content a{
        color: black;
        text-decoration: none;
        display: block;
        padding: 5px 0;
        text-align: center;
        border-bottom: 1px solid black;
        background-color: rgb(187, 185, 185);
        transition: all .5s;
    }

    .dropdown-content a:hover{
        background-color: gray;
    }

    .small:hover .dropdown-content{
        display: flex;
        flex-direction: column;
    }

    .small:hover > button.menu{ 
        background-color: brown;
    }
}

div.big_wrapper{
    display: flex;
    padding: 2%;
    flex-wrap: nowrap;
    flex-direction: column;
    padding-bottom: 150px;
    margin-top: 58px;
    margin-bottom: 2%;
}

div.big_wrapper > div.intro{
    display: flex;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

div.big_wrapper > div.intro p{
    flex-grow: 1;
}

div.big_wrapper > div.intro p:last-child{
    text-align: right;
}

div.big_wrapper > div.intro p span:first-child{
    border-right: 4px solid grey;
    padding-right: 2%;
    margin-right: 1%;
}

div.big_wrapper > section.snav{
    background-image: linear-gradient(to right, grey, white, grey, white, grey);
    margin-bottom: 10px;
    text-align: center;
    display: flex;
    border-radius: 25px;
    justify-content: space-around;
    border: 1px solid grey;
}

section.snav a{
    display: inline-block;
    padding: 15px 20px;
    text-decoration: none;
    color: black;
    transition: all 1s;
}

section.snav a:last-child{border-radius: 0 25px 25px 0;}
section.snav a:first-child{border-radius: 25px 0 0 25px;}

section.snav a:hover{
    background: linear-gradient(to right, transparent, blue, transparent);
}

h4.fgallery-title a{
    text-decoration: none;
    color: rgb(87, 87, 87);
    border-left: .5rem solid rgb(50, 50, 50);
    padding-left: .7rem;
}

section.fgallery > h4.fgallery-title a:hover{
    color: black;
    border-color: black;
}

section.fgallery > div.fgallery-content{
    display: flex;
    flex-direction: row;
    padding: 0 10px 0 10px;
}

div.fgallery-content > ul.fgallery-ul{
    flex-grow: 1;
    position: relative;
}

ul.fgallery-ul > li > div.fgallery-item{
    height: 100%;
    width: 100%;
    position: relative;
}

section.fgallery > h4.fgallery-title{
    position: relative;
    padding: 1rem 0.5rem;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
}


@media screen and (min-width:480px){
    ul.fgallery-ul > li{
        list-style-type: none;
        float: left;
        margin-bottom: 1rem;
        padding: 0 10px;
    }
    
    div.fgallery-item > div.fgallery-image,
    div.fgallery-image > div.fgallery-responsive-image{
        float: none;
        width: 100%;
        position: relative;
    }
    
    div.fgallery-responsive-image > img{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    
    div.fgallery-item > div.fgallery-item-content{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        color: white;
        text-shadow:-1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
        padding: 1rem;
        font-family: Agency FB;
    }
    
    div.fgallery-item-content > small a{
        text-decoration: none;
        color: inherit;
        z-index: 2;
    }
    
    div.fgallery-item-content > small:hover{
        text-decoration: underline;
        border-color: blue;
    }
    
    div.fgallery-item-content > small{
        border-left: .2rem solid black;
    }

    a.fgallery-overlay-link{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
        transition: all .5s;
    }
    
    a.fgallery-overlay-link:hover{background-color: rgba(0, 0, 255, 0.2);}
}


@media screen and (max-width: 1700px) and (min-width:800px){
    div.big_wrapper > section.fgallery{
        box-shadow: 0 0 13px 2px black;
        margin-top: 1rem;
    }

    ul.fgallery-ul > li.fgallery-li-1{width: 66.67%;}
    ul.fgallery-ul > li.fgallery-li-2{width: 33.33%;}
    ul.fgallery-ul > li.fgallery-li-3{width: 33.33%;}
    ul.fgallery-ul > li.fgallery-li-4{width: 50%;}
    ul.fgallery-ul > li.fgallery-li-5{width: 50%;}

    div.fgallery-responsive-image{padding-bottom: 70%;}

    div.fgallery-item > div.fgallery-item-content{padding-top: 9rem;}

    li.fgallery-li-1 div.fgallery-item-content > h4{font-size: 2rem; padding-bottom: .2rem;}
    li.fgallery-li-1 div.fgallery-item-content > p{font-size: 1.3rem; padding-bottom: 1.5rem;}
    li.fgallery-li-1 div.fgallery-item-content > small{font-size: 1rem; padding-left: 1rem;}

    li.fgallery-li-2 div.fgallery-item-content > h4{font-size: 1.3rem; padding-bottom: .2rem;}
    li.fgallery-li-2 div.fgallery-item-content > p{font-size: 1rem; padding-bottom: 1rem;}
    li.fgallery-li-2 div.fgallery-item-content > small{font-size: 1rem; padding-left: .5rem;}

    li.fgallery-li-3 div.fgallery-item-content > h4{font-size: 1.3rem; padding-bottom: .2rem;}
    li.fgallery-li-3 div.fgallery-item-content > p{font-size: 1rem; padding-bottom: 1rem;}
    li.fgallery-li-3 div.fgallery-item-content > small{font-size: 1rem; padding-left: .5rem;}

    li.fgallery-li-4 div.fgallery-item-content > h4{font-size: 1.7rem; padding-bottom: .2rem;}
    li.fgallery-li-4 div.fgallery-item-content > p{font-size: 1.2rem; padding-bottom: 1.2rem;}
    li.fgallery-li-4 div.fgallery-item-content > small{font-size: 1rem; padding-left: .7rem;}

    li.fgallery-li-5 div.fgallery-item-content > h4{font-size: 1.7rem; padding-bottom: .2rem;}
    li.fgallery-li-5 div.fgallery-item-content > p{font-size: 1.2rem; padding-bottom: 1.2rem;}
    li.fgallery-li-5 div.fgallery-item-content > small{font-size: 1rem; padding-left: .7rem;}
}


@media screen and (max-width: 800px) and (min-width: 480px){
    div.big_wrapper > section.fgallery{
        box-shadow: 0 0 5px 2px black;
        margin-top: 1rem;
    }

    ul.fgallery-ul > li.fgallery-li-1{width: 100%;}
    ul.fgallery-ul > li.fgallery-li-2{width: 50%;}
    ul.fgallery-ul > li.fgallery-li-3{width: 50%;}
    ul.fgallery-ul > li.fgallery-li-4{width: 50%;}
    ul.fgallery-ul > li.fgallery-li-5{width: 50%;}

    div.fgallery-responsive-image{padding-bottom: 70%;}

    div.fgallery-item > div.fgallery-item-content{padding-top: 9rem;}

    div.fgallery-item > div.fgallery-item-content{padding: .5rem}

    li.fgallery-li-1 div.fgallery-item-content > h4{font-size: 1.6rem; padding-bottom: .2rem;}
    li.fgallery-li-1 div.fgallery-item-content > p{font-size: 1.2rem; padding-bottom: 1rem;}
    li.fgallery-li-1 div.fgallery-item-content > small{font-size: 1rem; padding-left: 1rem;}

    li.fgallery-li-2 div.fgallery-item-content > h4,
    li.fgallery-li-3 div.fgallery-item-content > h4,
    li.fgallery-li-4 div.fgallery-item-content > h4,
    li.fgallery-li-5 div.fgallery-item-content > h4{font-size: .9rem; padding-bottom: .2rem;}

    li.fgallery-li-2 div.fgallery-item-content > p,
    li.fgallery-li-3 div.fgallery-item-content > p,
    li.fgallery-li-4 div.fgallery-item-content > p,
    li.fgallery-li-5 div.fgallery-item-content > p{font-size: .85rem; padding-bottom: .1rem;}

    li.fgallery-li-2 div.fgallery-item-content > small,
    li.fgallery-li-3 div.fgallery-item-content > small,
    li.fgallery-li-4 div.fgallery-item-content > small,
    li.fgallery-li-5 div.fgallery-item-content > small{font-size: .9rem; padding-left: .5rem;}
}


@media screen and (max-width: 480px){
    ul.fgallery-ul > li{
        list-style-type: none;
        border-bottom: 1px solid rgb(68, 68, 68);
        font-family: Agency FB;
        font-size: .9rem;
    }

    div.fgallery-item > div.fgallery-item-content{padding: 15px 10px;}

    div.fgallery-item > div.fgallery-image{
        float: none;
        width: 100%;
        position: relative;
        display: none;
    }

    div.fgallery-item p{padding-bottom: 10px;}
    
    section.fgallery > h4.fgallery-title{
        position: relative;
        padding: .5rem 0.7rem;
        font-size: 1rem;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    h4.fgallery-title a{border-left: .2rem solid rgb(50, 50, 50);}

    div.big_wrapper > section.fgallery{
        box-shadow: 0 0 13px 1px black;
        margin-top: 1rem;
    }

    li.fgallery-li-1 div.fgallery-item > div.fgallery-image,
    li.fgallery-li-1 div.fgallery-image > div.fgallery-responsive-image{
        float: none;
        width: 100%;
        position: relative;
        display: block;
    }
    
    li.fgallery-li-1 div.fgallery-responsive-image > img{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    
    li.fgallery-li-1 div.fgallery-item > div.fgallery-item-content{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        color: white;
        text-shadow:-1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
        padding: 1rem;
        font-family: Agency FB;
    }
    
    div.fgallery-item-content > small a{
        text-decoration: none;
        color: inherit;
        z-index: 2;
    }
    
    div.fgallery-item-content > small:hover{
        text-decoration: underline;
        border-color: blue;
    }
    
    div.fgallery-item-content > small{
        border-left: .1rem solid black;
        padding-left: .2rem;
    }
    
    a.fgallery-overlay-link{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
        transition: all .5s;
    }
    
    a.fgallery-overlay-link:hover{background-color: rgba(0, 0, 255, 0.2);}

    ul.fgallery-ul > li.fgallery-li-1{width: 100%; border: none;}

    li.fgallery-li-1 div.fgallery-responsive-image{padding-bottom: 70%;}

    li.fgallery-li-1 div.fgallery-item > div.fgallery-item-content{padding-top: 9rem;}

    li.fgallery-li-1 div.fgallery-item > div.fgallery-item-content{padding: .5rem}

    li.fgallery-li-1 div.fgallery-item-content > h4{font-size: 1.2rem; padding-bottom: .2rem;}
    li.fgallery-li-1 div.fgallery-item-content > p{font-size: 0.9rem; padding-bottom: .5rem;}
    li.fgallery-li-1 div.fgallery-item-content > small{font-size: 0.8rem; padding-left: 1rem;}


}


/* ngallery are galleries with 3 items aligned horisontally */

section.ngallery{
    box-shadow: 0 0 5px 2px;
    margin-top: 2rem;
}

section.ngallery > h4.ngallery-title{
    position: relative;
    padding: 1rem 0.5rem;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
}

section.ngallery > h4.ngallery-title a{
    text-decoration: none;
    color: rgb(87, 87, 87);
    border-left: .5rem solid rgb(50, 50, 50);
    padding-left: .7rem;
}

section.ngallery > h4.ngallery-title a:hover{
    color: black;
    border-color: black;
}

section.ngallery > div.ngallery-content{
    display: flex;
    flex-direction: row;
    padding: 0 1rem 1rem 1rem;
}

div.ngallery-content > ul.ngallery-ul{
    flex-grow: 1;
    position: relative;
    display: flex;
    flex-direction: row;
}

ul.ngallery-ul > li.ngallery-li{
    flex-grow: 1;
    list-style-type: none;
    padding: 0.5rem;
    height: 100%;
    display: flex;
    width: 100%;
}

div.ngallery-item{
    width: 100%;
    height: 100%;
    flex-grow: 1;
}

div.ngallery-item > div.ngallery-image{
    width: 100%;
}

div.ngallery-image > div.ngallery-responsive-image{
    position: relative;
    width: 100%;
    padding-bottom: 70%;
}

div.ngallery-responsive-image > img{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

div.ngallery-item-content{
    position: relative;
    padding: 1rem 0;
    /* height: 100%; */
}

div.ngallery-item-content > h4{
    font-size: 1.5rem;
}

div.ngallery-item-content > p{
    padding-bottom: 2rem;
    padding-top: .5rem;
    font-size: 1rem;
}

div.ngallery-item-content > small{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}






table, td, th{
    border-collapse: collapse;
    display: none;
}

td, th{
    height: 50px; 
    text-align: left;
    padding-left: 2%;
}

th{
    background-color: brown;
    padding-left: 5%;
}

tr:nth-child(even){
    background-color: rgba(148, 147, 147, 0.534);
}


body > footer{
    position: absolute;
    bottom: 0;
    height: 150px;
    width: 100%;
    background-color: gray;
}
